.myBackground {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
  /* working gradient */
  background: linear-gradient(
    137deg,
    rgba(205, 0, 118, 1) 0%,
    rgba(85, 35, 185, 1) 68%
  );
}
